@** Definir a classe de modelo desta página *@
@model AgendaContatos.Mvc.Models.AccountPasswordModel

@{
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="text-center">
    <h3>Esqueci minha senha</h3>
    <p>Entre com seus dados para recuperar sua senha.</p>
</div>
<hr/>

@using(Html.BeginForm())
{
    <div class="mb-2">
        <label>Email de acesso:</label>
        @Html.TextBoxFor(model => model.Email, 
            new 
            {  
                @class="form-control",
                @placeholder="Digite seu email aqui"
            })
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="mb-2 d-grid">
        <input type="submit" class="btn btn-primary" value="Recuperar Senha"/>
    </div>

    <div class="mb-2 d-grid">
        <a href="/Account/Login" class="btn btn-light">
            Já possui conta? <strong>Acesse aqui!</strong>
        </a>
    </div>
}

<div class="mb-2 text-center">
    <strong>@TempData["Mensagem"]</strong>
</div>
